<div class="d-flex flex-column p-3 text-white h-100">
    <a href="{% url 'projects:dashboard' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <i class="bi bi-soundwave fs-3 text-indigo me-2"></i>
        <span class="fs-4 fw-bold">Studio</span>
    </a>
    <hr class="border-secondary">
    
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{% url 'projects:dashboard' %}" class="nav-link {% if request.resolver_match.view_name == 'projects:dashboard' %}active{% endif %}">
                <i class="bi bi-grid-fill me-2"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a href="{% url 'projects:project_list' %}" class="nav-link {% if 'projects' in request.resolver_match.view_name and request.resolver_match.view_name != 'projects:dashboard' and request.resolver_match.view_name != 'projects:settings' %}active{% endif %}">
                <i class="bi bi-folder-fill me-2"></i>
                Projects
            </a>
        </li>
        <li>
            <a href="{% url 'projects:settings' %}" class="nav-link {% if request.resolver_match.view_name == 'projects:settings' %}active{% endif %}">
                <i class="bi bi-sliders2 me-2"></i>
                Settings
            </a>
        </li>
    </ul>
    
    <hr class="border-secondary">
    
    <div class="d-grid">
        <a href="{% url 'projects:project_create' %}" class="btn btn-accent btn-sm shadow-sm py-2">
            <i class="bi bi-plus-lg me-1"></i> New Project
        </a>
    </div>
</div>
